# Flask
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=74ea20f890f1e4c4659fb5c9cfcaa7c92f77aa93522f2138e9b7d09c45ab50f7s
WTF_CSRF_ENABLED=False


# Database
DATABASE_URL=sqlite:///instance/users.db

# Telegram Bot
TELEGRAM_BOT_TOKEN=8571036130:AAEE09nxSvlBOOgrVOXHk58gHVaTgqrJcho
TELEGRAM_API_URL=https://api.telegram.org

# Application
PORT=5001
HOST=0.0.0.0
