# Flask
FLASK_ENV=development
FLASK_DEBUG=1
SECRET_KEY=74ea20f890f1e4c4659fb5c9cfcaa7c92f77aa93522f2138e9b7d09c45ab50f7s
WTF_CSRF_ENABLED=False


# Database
DATABASE_URL=sqlite:///instance/users.db

# Telegram Bot
TELEGRAM_BOT_TOKEN=8571036130:AAEE09nxSvlBOOgrVOXHk58gHVaTgqrJcho
TELEGRAM_API_URL=https://api.telegram.org

# Email (для отправки писем)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=1
MAIL_USERNAME=nikitagolosumov1@gmail.com
MAIL_PASSWORD=eoth qbtp xkvm friv
MAIL_DEFAULT_SENDER=verifedcode@smarttodolist.com

# NOTE: старые переменные SMTP_* также принимаются для обратной совместимости.

# Application
PORT=5001
HOST=0.0.0.0
