h1 {
    color: #333;
    margin-bottom: 1em;
    font-size: 42px;
    font-weight: 700;
}

body {
    background-color: #d6fff6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

#login-btn {
    display: flex;
    position: absolute;
    top: 37px;
    right: 140px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4ea851;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

#login-btn:hover {
    background-color: #45a049;
    transform: scale(0.95);
    transition: transform 0.2s ease;
}

#register-btn:hover {
    background-color: #007bb5;
    transform: scale(0.95);
    transition: transform 0.2s ease;
}

#try-it-now-btn:hover {
    background-color: #f0c9b8;
    transform: scale(0.95);
    transition: transform 0.2s ease;
}

#register-btn {
    position: absolute;
    top: 37px;
    right: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#try-it-now-btn {
    position: absolute;
    top: 540px;
    left: 30%;
    display: inline-block;
    padding: 20px 30px;
    background-color: #f8e2d3;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

#list_func {
    position: absolute;
    left: 60%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}

#l1, #l2, #l3 {
  transition: transform 0.2s ease, margin-left 0.2s ease;
}

#l1:hover, #l2:hover, #l3:hover {
  transform: scale(1.05) translateX(9px);
}

#list_fihe {
    position: absolute;
    left: 1%;
    top: 220px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}

#li1, #li2, #li3 {
  transition: transform 0.2s ease, margin-left 0.2s ease;
}

#li1:hover, #li2:hover, #li3:hover {
  transform: scale(1.05) translateX(9px);
}

a {
    position: absolute;
    left: 67%;
    top: 380px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #000000;
    text-decoration: none;
}
#list_audience {
    position: absolute;
    left: 70%;
    top: 400px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2em;
    color: #333;
}

#au1, #au2, #au3 {
  transition: transform 0.2s ease, margin-left 0.2s ease;
}

#au1:hover, #au2:hover, #au3:hover {
  transform: scale(1.05) translateX(9px);
}