{% extends 'base.html' %}

{% block head_css %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}
<h1>Проверка кода подтверждения</h1>
<p>Код подтверждения был отправлен на вашу электронную почту. Пожалуйста, проверьте входящие и используйте код для завершения регистрации.</p>
<form id="code_verification_form" action="/auth/verify_code" method="post">
    <label for="registration_code">Код подтверждения:</label>
    <input type="text" id="registration_code" name="registration_code" required><br><br>
    <input type="submit" value="Подтвердить">
</form>
{% endblock %}